# .gitignore

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
**/.ipynb_checkpoints/
nohup.out

# Ignore configuration files and sensitive data
src/config/

# Exclude entire data directory if generated data should not be tracked
data/
