# .gitignore

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
**/.ipynb_checkpoints/
nohup.out
notebooks/db_config.py
src/db_config.py
src/reddit_config.py

# Ignore data files
data/

